[submodule "appserver/extras/notifiers"]
	path = appserver/extras/notifiers
	url = https://github.com/payara/Notifiers
[submodule "appserver/extras/upgrade-tool"]
	path = appserver/extras/upgrade-tool
	url = https://github.com/payara/upgrade-tool
